<div class="login">
  <div class="card">
    <div class="card-header">Login:</div>
    <div class="card-body">
      <form (submit)="handleLogin(loginForm)" #loginForm="ngForm">
        <div class="credentials">
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter Email"
          />
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter Password"
          />
        </div>
        <div class="action">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
